<p id="notice"><%= notice %></p>

<p>
  <strong>Dealership Name:</strong>
  <%= @dealership.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @dealership.address %>
</p>
<hr>

<h4>Cars</h4>

<% @dealership.cars.each do |car| %>
  <p>
    <%= link_to dealership_car_path(@dealership, car) do %>
      <strong>Model:</strong>
      <%= car.model %>
    <% end %>
  </p>
  <p>
    <strong>Brand:</strong>
    <%= car.brand %>
  </p>
  <p>
    <strong>Year:</strong>
    <%= car.year %>
  </p>
  <p>
    <strong>Price:</strong>
    <%= formatted_price(car.price) %>
  </p>
  <hr>
<% end %>

<%= link_to 'Edit', edit_dealership_path(@dealership) %> |
<%= link_to 'Back', dealerships_path %> |
<%= link_to 'New Car', new_dealership_car_path(@dealership) %>

