<!DOCTYPE html>
<html>
  <head>
    <title>CarInventory</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
    <% end %>
    <% if admin_signed_in? %>
      <%= link_to 'Sign out', destroy_admin_session_path, method: :delete %>
    <% end %>

    <%= yield %>
  </body>
</html>
